*.DS_Store
.vscode/
experiments/
train.slurm
submit_sequential_jobs_slurm.sh
train_test.slurm
UTILS
run-finetune.sh
tests/
flue/experiments_flue/
flue/experiments_final/
*.pyc
flue/.DS_Store
run-finetune-1.sh
run-finetune.slurm
submit_finetune_jz.sh
